{% extends 'todo/index.html' %}

{% block content %}
    <div class="container mt-5">

        <form action="{% url 'home' %}" method="POST" class="mb-4">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="new-todo" id="new-todo" class="form-control" placeholder="New Todo" required>
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-plus-lg"></i> Add Todo
                </button>
            </div>
        </form>

        {% for i in page_obj %}
            <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center p-2">
                    <form
                            action="{% url 'toggle_todo_status' i.id %}"
                            method="POST"
                            class="me-2"
                    >
                        {% csrf_token %}

                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input toggle-todo-checkbox"
                                type="checkbox"
                                id="todo_{{ i.id }}"
                                {% if i.is_completed %}checked{% endif %}
                                onchange="this.form.submit()"
                            />

                            <label class="form-check-label" for="todo_{{ i.id }}">
                                {% if i.is_completed %}
                                    <s class="card-text m-0">{{ i.name }}</s>
                                {% else %}
                                    <p class="card-text m-0">{{ i.name }}</p>
                                {% endif %}
                            </label>
                        </div>
                    </form>


                    <div class="d-flex">
                        <button
                                type="button"
                                class="btn btn-sm btn-outline-warning me-2"
                                data-bs-toggle="modal"
                                data-bs-target="#editTodoModal_{{ i.id }}"
                        >Edit</button>

                        <a
                            href="{% url 'delete_todo' i.id %}"
                            class="btn btn-sm btn-outline-danger me-2"
                        >Delete</a>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editTodoModal_{{ i.id }}" tabindex="-1" aria-labelledby="editTodoModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editTodoModalLabel">Update Todo Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form action="{% url 'update_todo' i.id %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-body">
                                <input
                                    type="text"
                                    name="todo_{{ i.id }}"
                                    class="form-control"
                                    value="{{ i.name }}"
                                    required
                                />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
